<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Api</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->

    <style>
        body {
            height: 100vh;
            background:
                linear-gradient(to bottom right, rgba(0,0,0,.7) 45% , rgb(252, 153, 39, .3)) 55%,
                url(https://i.postimg.cc/DZm69sHc/3840x2160-mclaren-570s-sports-car-orange-4k-1538935197.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .table-holder {
          background-color: #ffffffd5;
          border-radius: 10px;
          height: 70%;
          width: 60%;
          overflow-y: auto;
        }
    </style>
</head>
<body>
    <h1 class="text-white mb-4">Routes Description</h1>
    
    <div class="table-holder">
      <table class="table table-striped-columns position-relative">
          <thead class="position-sticky">
            <tr>
              <th scope="col">Request</th>
              <th scope="col">Route</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Clients</th>
            </tr>
            <tr>
              <td>get</td>
              <td>/</td>
              <td>Route to this page (home page)</td>
            </tr>
            <tr>
              <td>get</td>
              <td>/clients</td>
              <td>Requests data for all clients</td>
            </tr>
            <tr>
              <td>get</td>
              <td>/client/:id</td>
              <td>Request data for a client with a matching id</td>
            </tr>

            <tr>
              <td>post</td>
              <td>/login</td>
              <td>Logs the client</td>
            </tr>
            <tr>
              <td>put</td>
              <td>/client/:id</td>
              <td>Updates a client record with a matching id</td>
            </tr>
            <tr>
              <td>post</td>
              <td>/register</td>
              <td>Registers a new client</td>
            </tr>


            <tr>
              <td>delete</td>
              <td>/client/:id</td>
              <td>Deletes a client record with a matching id</td>
            </tr>
            <tr>

            <!-- vehicles -->
             <th>Vehicles</th>
            </tr>
            <tr>
              <td>get</td>
              <td>/vehicles</td>
              <td>Requests data for all vehicles</td>
            </tr>
            <tr>
              <td>get</td>
              <td>/vehicle/:id</td>
              <td>Registers data for a vehicle with a matching id</td>
            </tr>
            <tr>
              <td>post</td>
              <td>/vehicle/:id</td>
              <td>Adds a new vehicle.</td>
            </tr>
            <tr>
              <td>put</td>
              <td>/vehicle/:id</td>
              <td>Updates a record of a vehicle with a matching id.</td>
            </tr>
            <tr>
              <td>delete</td>
              <td>/vehicle/:id</td>
              <td>Deletes a record of a vehicle with a matching id.</td>
            </tr>

             <!-- vehicles -->
             <th>Purchases</th>
            </tr>
            <tr>
              <td>get</td>
              <td>/purchases</td>
              <td>Requests data for all purchases</td>
            </tr>
            <tr>
              <td>get</td>
              <td>/purchase/:id</td>
              <td>Requests data for a purchase with a clients's matching id</td>
            </tr>
            <tr>
              <td>post</td>
              <td>/purchase/:id</td>
              <td>Creates a new purchase.</td>
            </tr>
            <tr>
              <td>put</td>
              <td>/purchase/:id</td>
              <td>Updates a record of a purchase with a matching id.</td>
            </tr>
            <tr>
              <td>delete</td>
              <td>/purchase/:id</td>
              <td>Deletes a record of a purchase with a matching id.</td>
            </tr>
            
          </tbody>
      </table>
    </div>
</body>
</html>