<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Api</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->

    <style>
        body {
            height: 100vh;
            background:
                linear-gradient(to bottom right, rgba(0,0,0,.7) 45% , rgb(252, 153, 39, .3)) 55%,
                url(https://i.postimg.cc/DZm69sHc/3840x2160-mclaren-570s-sports-car-orange-4k-1538935197.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
    <h1>This is the API description page</h1>  
</body>
</html>